* {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    border-radius: 10px;
}

.card-item {
    width: 375px;
    height: 580px;
    background-color: hsl(216, 50%, 16%);
    /* border: 20px solid hsl(218, 39%, 12%); */
    border-radius: 15px;
    border: 15px hsl(218, 39%, 12%);
    border-style: hsl(218, 39%, 12%);
}

.card img {
    width: 300px;
    border-radius: 10px;
    margin:10%;
}

.title {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    background-color: hsl(216, 50%, 16%);
    cursor: pointer;

}

.title:hover {
    color:hsl(178, 100%, 50%);

}

.text {
    color: hsl(215, 51%, 70%);
    margin: 5% 10% 5% 10%;
    background-color: hsl(216, 50%, 16%);

}

.information {
    display: flex;
    text-align: end;
    color: hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
    justify-content:space-between;
    margin: 3%
}

.information-1 {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    margin-left: 10%;
}

.icon {
    margin-right: 5px;
}

.ETH {
    color: hsl(178, 100%, 50%);
    background-color: hsl(216, 50%, 16%);
    margin-left: 10% ;
}

.days {
    background-color: hsl(216, 50%, 16%);
    margin-right: 10%;
}

.section {
    display: flex;
    justify-content:flex-start;
    margin-top: 5%;
    border-top: 1px solid hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
    margin: 5% 10% 5% 10%;
}

.section img {
    border-radius: 50%;
    width: 10%;
    border: 1px solid white;
    margin: 5% 10% 0 0;
}

.section p {
    margin: 5% 10% 0 0;
    color: hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
}

.name {
    color: white;
    background-color: hsl(216, 50%, 16%);
}

.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}